*{
	box-sizing: border-box;
	margin : 0 ;
	padding : 0 ;
}
.head {
    color: black;
    font-family: 'Acme', serif;
}
.header{
    background-color: orange;
    height: 225px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input:focus, textarea:focus, select:focus{
 	outline: none;
}
.input-field {
	margin: 20px 0 20px 0;
	display: flex;
	justify-content: center;
	width: 53%;
}
input{
	width: 100%;
	border-radius: 5px;
	font-size: 20px;
	padding: 8px;
	overflow: hidden;
	border: none;
	border-bottom: 2px solid black ;
}
.button{
	display: flex;
	justify-content: center;
	width: 50%;
	height: 50px;
}
.button :hover{
	font-size: large;
	background-color: turquoise;
}
button{
	border-radius: 5px;
	width: 100%;
    font-family: 'Acme', sans-serif;
	padding: 7px;
	cursor: pointer;
	margin: 0px 100px 0 100px;
	height: 75%;
	transition: 0.7s;
}
.display {
    border-bottom: 2px solid black;
    width: 53%;
    font-family: 'Acme', sans-serif;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.display-completed li {
    background-color: #00ba66e0;
}

.display-completed{
	display: none;
}
span:hover{
	font-size: x-large;
}
.text:hover{
	font-size: 20px;
	text-decoration: underline;
}
.text{
	cursor: pointer;
	transition: 0.2s;
}
span {
    position: absolute;
    top: 8px;
    right: 10px;
    color: red;
    transition: 0.3s;
    cursor: pointer;
}
li{
	border-radius: 5px;
	position: relative;
    background-color: #efefef;
    margin-top: 5px;
    padding: 8px;
}
.footer-content {
    display: inline-block;
    margin: 10px 100px 0px 100px;
}
#count-active , #count-completed {
	display: inline-block;
}